In [41]:
import pandas as pd

# Read the CSV file
yelp_business = pd.read_csv(r"D:\STRATASCRATCH 1\yelp_business\yelp_business.csv")
yelp_reviews = pd.read_csv(r"D:\STRATASCRATCH 1\yelp_business\yelp_reviews.csv")
yelp_checkin = pd.read_csv(r"D:\STRATASCRATCH 1\yelp_business\yelp_checkin.csv")

### 1 -Find the number of Yelp businesses that sell pizza.

In [2]:
# Import your libraries
import pandas as pd

# Start writing code
yelp_business.head()
import pandas as pd
import numpy as np

pizza = yelp_business[yelp_business['categories'].str.contains('Pizza', case = False)]
result = len(pizza)

### 2 -Find the top 5 cities with the most 5-star businesses. Output the city name along with the number of 5-star businesses. Include both open and closed businesses.
In the case of multiple cities having the same number of 5-star businesses, use the ranking function returning the lowest rank in the group and output cities with a rank smaller than or equal to 5.

In [3]:
import pandas as pd

# Read the CSV file
#yelp_business = pd.read_csv(r"D:\STRATASCRATCH 1\yelp_business\yelp_business.csv")

# Filter for 5-star businesses
five_star_businesses = yelp_business[yelp_business['stars'] == 5]

# Count 5-star businesses by city
city_counts = five_star_businesses['city'].value_counts().reset_index()
city_counts.columns = ['city', 'five_star_count']

# Rank the cities by number of 5-star businesses
city_counts['rank'] = city_counts['five_star_count'].rank(method='min', ascending=False)

# Filter for cities with rank <= 5
top_cities = city_counts[city_counts['rank'] <= 5]

# Output the result
top_cities = top_cities[['city', 'five_star_count']].reset_index(drop=True)
top_cities.head()

         city  five_star_count
0     Phoenix                5
1   Las Vegas                4
2     Toronto                4
3      Urbana                2
4  Scottsdale                2

### 3 -Find the review_text that received the highest number of  'cool' votes.
Output the business name along with the review text with the highest numbef of 'cool' votes.

In [9]:
import pandas as pd
import numpy as np

result = yelp_reviews[yelp_reviews['cool'] ==yelp_reviews['cool'].max()][['business_name','review_text']]
result

    business_name                                        review_text
30      Roka Akor  I hate to admit it, but it had been a long whi...
105      Lunardis  This is the nicest grocery store in the city. ...

### 4 -Find the number of reviews received by Lo-Lo's Chicken & Waffles for each star.
Output the number of stars along with the corresponding number of reviews.
Sort records by stars in ascending order.

In [10]:
import pandas as pd

# Sample DataFrame (replace this with your actual DataFrame)
# yelp_reviews = pd.read_csv('path_to_yelp_reviews.csv')  # Load your DataFrame

# Filter reviews for Lo-Lo's Chicken & Waffles
lo_los_reviews = yelp_reviews[yelp_reviews['business_name'] == "Lo-Lo's Chicken & Waffles"]

# Group by stars and count the number of reviews
review_counts = lo_los_reviews.groupby('stars').size().reset_index(name='number_of_reviews')

# Sort by stars in ascending order
review_counts_sorted = review_counts.sort_values(by='stars')

# Display the first few rows of the result
review_counts_sorted.head()

  stars  number_of_reviews
0     5                  1

### 5 -Find the number of 5-star reviews earned by Lo-Lo's Chicken & Waffles.

In [11]:
import pandas as pd

# Sample DataFrame (replace this with your actual DataFrame)
# yelp_reviews = pd.read_csv('path_to_yelp_reviews.csv')  # Load your DataFrame

# Filter for 5-star reviews for Lo-Lo's Chicken & Waffles
five_star_reviews = yelp_reviews[
    (yelp_reviews['business_name'] == "Lo-Lo's Chicken & Waffles") & 
    (yelp_reviews['stars'] == '5')
]

# Count the number of 5-star reviews
number_of_five_star_reviews = five_star_reviews.shape[0]

# Display the result
number_of_five_star_reviews

1

### 6 -Cast stars column values to integer and return with all other column values. Be aware that certain rows contain non integer values.
You need to remove such rows. You are allowed to examine and explore the dataset before making a solution.

In [38]:
import pandas as pd

# Sample DataFrame (replace this with your actual DataFrame)
# yelp_reviews = pd.read_csv('path_to_yelp_reviews.csv')  # Load your DataFrame

# Step 1: Explore the stars column
print(yelp_reviews['stars'].unique())  # Check unique values to identify non-integer values

# Step 2: Remove rows with non-integer values in the stars column
# Use pd.to_numeric with errors='coerce' to convert non-numeric to NaN, then drop NaN values
yelp_reviews['stars'] = pd.to_numeric(yelp_reviews['stars'], errors='coerce')
yelp_reviews_cleaned = yelp_reviews.dropna(subset=['stars'])

# Step 3: Cast stars to integer type
yelp_reviews_cleaned['stars'] = yelp_reviews_cleaned['stars'].astype(int)

# Display the cleaned DataFrame
yelp_reviews_cleaned.head()

[ 5.  4.  3.  1.  2. nan]

,business_name,review_id,user_id,stars,review_date,review_text,funny,useful,cool
0,AutohausAZ,C4TSIEcazRay0qIRPeMAFg,jlbPUcCRiXlMtarzi9sW5w,5,2011-06-27,Autohaus is my main source for parts for an ol...,1,2,1
1,Citizen Public House,ZZ0paqUsSX-VJbfodTp1cQ,EeCWSGwMAPzwe_c1Aumd1w,4,2013-03-18,First time in PHX. Friend recommended. Frien...,0,0,0
2,Otto Pizza & Pastry,pF6W5JOPBK6kOXTB58cYrw,JG1Gd2mN2Qk7UpCqAUI-BQ,5,2013-03-14,LOVE THIS PIZZA! This is now one of my favori...,0,0,0
3,Giant Hamburgers,QBddRcflAcXwE2qhsLVv7w,T90ybanuLhAr0_s99GDeeg,3,2009-03-27,"ok, so I tried this place out based on other r...",0,1,1
4,Tammie Coe Cakes,Y8UMm_Ng9oEpJbIygoGbZQ,MWt24-6bfv_OHLKhwMQ0Tw,3,2008-08-25,Overrated. The treats are tasty but certainly ...,1,3,2

### 7 -Find the number of entries per star.
Output each number of stars along with the corresponding number of entries.
Order records by stars in ascending order.

In [39]:
import pandas as pd

# Count the number of entries per star rating
star_counts = yelp_reviews.groupby('stars').size().reset_index(name='count')

# Sort by stars in ascending order
star_counts_sorted = star_counts.sort_values(by='stars')

# Display the result
star_counts_sorted.head()

   stars  count
0    1.0      7
1    2.0     11
2    3.0     16
3    4.0     33
4    5.0     34

### 8 -Find the top 5 businesses with the most check-ins.
Output the business id along with the number of check-ins.

In [42]:
import pandas as pd

# Group by business_id and sum the check-ins
checkin_counts = yelp_checkin.groupby('business_id')['checkins'].sum().reset_index()

# Sort the results by checkins in descending order
top_checkins = checkin_counts.sort_values(by='checkins', ascending=False)

# Select the top 5 businesses
top_5_businesses = top_checkins.head(5)

# Display the result
top_5_businesses.head()

               business_id  checkins
8   4k3RlMAMd46DZ_JyZU0lMg       137
50  TkEMlu88OZn9TKZyeY9CJg        39
9   4p6Wce7Ed707QS2-yQkvZw        31
29  Ehy00JWQixgoXzisVKhvag        22
89  ujgpePdD8Q-fP1mPFnw0Qw        17

### 9 -Find the average number of stars for each state.
Output the state name along with the corresponding average number of stars.

In [43]:
import pandas as pd

# Group by state and calculate the average number of stars
average_stars_by_state = yelp_business.groupby('state')['stars'].mean().reset_index()

# Rename the columns for clarity
average_stars_by_state.columns = ['state', 'average_stars']

# Sort by state (optional)
average_stars_by_state = average_stars_by_state.sort_values(by='state')

# Display the result
average_stars_by_state.head()

  state  average_stars
0    AZ       3.803030
1    BW       4.166667
2   EDH       5.000000
3    IL       5.000000
4    NC       3.285714

### 10 -Find the number of open businesses.

In [44]:
import pandas as pd

# Count the number of open businesses
number_of_open_businesses = yelp_business[yelp_business['is_open'] == 1].shape[0]

# Display the result
number_of_open_businesses

78

### 11 -Find the review count for one-star businesses from yelp.
Output the name along with the corresponding review count.

In [45]:
import pandas as pd

# Filter for one-star businesses
one_star_businesses = yelp_business[yelp_business['stars'] == 1]

# Group by business name and get the review count
result = one_star_businesses.groupby('name', as_index=False)['review_count'].sum()

# Display the first few rows of the result
result.head()

                              name  review_count
0  All Colors Mobile Bumper Repair             4
1                  Dry Clean Vegas             4
2                The Cuyahoga Room             3

### 12 -Find the top business categories based on the total number of reviews. Output the category along with the total number of reviews. Order by total reviews in descending order.

In [46]:
# Import your libraries
import pandas as pd

# Start writing code
yelp_business.head()
result = yelp_business[['review_count','categories']].set_index('review_count').apply(lambda x:x.str.split(';').explode()).reset_index()
result =result.groupby(['categories'])['review_count'].sum().to_frame('total_reviews').reset_index().sort_values('total_reviews',ascending=False)

In [48]:
result.head()

      categories  total_reviews
141  Restaurants           1703
62          Food            508
133        Pizza            456
33       Chinese            417
95      Japanese            350

### 13 -Find the top 5 businesses with most reviews. Assume that each row has a unique business_id such that the total reviews for each business is listed on each row. Output the business name along with the total number of reviews and order your results by the total reviews in descending order.

In [49]:
import pandas as pd

# Assuming yelp_business DataFrame is already defined

# Sort the DataFrame by review_count in descending order
top_businesses = yelp_business.sort_values(by='review_count', ascending=False)

# Select the top 5 businesses and the relevant columns
result = top_businesses[['name', 'review_count']].head(5)

# Display the result
result

                         name  review_count
68                  Iron Chef           331
88  Jacs Dining and Tap House           197
63        Grimaldi's Pizzeria           187
84           Signs Restaurant           120
86                   Kassab's           101

### 14 -Find the top 5 states with the most 5 star businesses. Output the state name along with the number of 5-star businesses and order records by the number of 5-star businesses in descending order. In case there are ties in the number of businesses, return all the unique states. If two states have the same result, sort them in alphabetical order.

In [51]:
import pandas as pd

# Filter for 5-star businesses
result = yelp_business[yelp_business.stars == 5]

# Group by state and count the number of businesses
result = result.groupby('state')['business_id'].count().to_frame('n_businesses').reset_index()

# Rank the states based on the number of businesses
result['rank'] = result['n_businesses'].rank(method='min', ascending=False)

# Filter to get the top 5 states based on rank
result = result[result['rank'] <= 5][['state', 'n_businesses']]

# Sort by number of businesses and state name
result = result.sort_values(by=['n_businesses', 'state'], ascending=[False, True])
result

  state  n_businesses
0    AZ            10
6    ON             5
4    NV             4
3    IL             3
5    OH             3
8    WI             3

### 15 -Find Yelp food reviews containing any of the keywords: 'food', 'pizza', 'sandwich', or 'burger'. List the business name, address, and the state which satisfies the requirement.

In [52]:
import pandas as pd

# Assuming you've already loaded your DataFrames
# yelp_business = pd.read_csv('path_to_yelp_business.csv')
# yelp_reviews = pd.read_csv('path_to_yelp_reviews.csv')

# Define the keywords
keywords = ['food', 'pizza', 'sandwich', 'burger']

# Merge the two DataFrames on the business name
merged_df = pd.merge(yelp_reviews, yelp_business, left_on='business_name', right_on='name')

# Filter reviews containing any of the keywords
filtered_reviews = merged_df[merged_df['review_text'].str.contains('|'.join(keywords), case=False, na=False)]

# Select the required columns: business name, address, and state
result = filtered_reviews[['business_name', 'address', 'state']]

# Display the result
result.head()

            business_name                  address state
0  Chipotle Mexican Grill  903 W Anthony Dr, Ste A    IL